page-places {
    .instagram{
        color: rgb(224, 53, 102);
    }
    .facebook{
        color: rgb(32, 81, 243);
    }
    .social{
        color: gray;
    }
}
.checked {
    color: orange;
}

.btn-red{
    color: rgb(224, 53, 102);
}
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input {
    margin-left: 10px;
}