page-home {
    ion-grid {
        // background :rgb(238, 112, 112);
        background-image: linear-gradient(rgb(190, 4, 17), rgb(248, 182, 182));
        height: 100%;
    }
    ion-row {
        border-bottom: 1px solid #d5d5d5;
    }
}

.grid{
}

.card-background-page {
    ion-card {
        color: grey;
        position: relative;
        text-align: center;
    }

    .card-img{
       padding: 5%;
    }

    .card-title {
        padding-top: 30%;
        font-size: 1.2em;
        color: #fff;
        text-transform: uppercase;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}