page-home {
    ion-grid {
        background : #e0e0e0;
    }
}

.card-background-page {
    ion-card {
    color: grey;
  
    position: relative;
    text-align: center;
    }

    .card-img{
    }

    .card-title {
    font-size: 1.0em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    }

    .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }
    
}