page-configuration {
<<<<<<< HEAD
  button: margin-left 35%;
=======
  button{
    margin-left: 35% !important;
  }

  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
     border-bottom-color: #ffffff;
     -webkit-box-shadow: inset 0 -1px 0 0 #ffffff;
     box-shadow: inset 0 -1px 0 0 #ffffff;
  }
>>>>>>> 31d01c17b91f01d31b585c44a2e4b69c217a0a31
}
